body{
  text-align: center;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Mogra';
}
h2 {
  font-size: 3rem;
  line-height: 1.5;
}
.doctor-image {
  height: 150px;
  margin-top: 5%;
  margin-bottom: 20px;

}

.colored-section {
  background-color: #6a8caf;

}
.big-heading {
  color: #fff;



}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;

}
.nav-link{
  font-size: 1.1rem;
  font-family: "Ubuntu";

}
.nav-item {
  padding: 0 18px;
  font-size: 1.2rem;
}
/* container fluid */
.container-fluid{
  padding: 7% 10% 0;
}
.navbar-brand {
  font-size: 2rem;
  font-family: "Ubuntu";
}
.accomodation {
  padding: 50px 0px 10px;
}

/* button */

.download-button {
  margin: 5% 3% 5% 3%;
  padding-left: 40px;
  padding-right: 40px;
}
.button2{
  padding: auto 60px auto;
}
.call-link {
  color: #fff;
}

.btn {

}
/* feature */
.feature {
  margin-bottom: 50px;
}

.icon-features {
  color: #6a8caf;
  margin-bottom: 1rem;
}

.feature-header {
  padding-top: 50px;
}
.feature-title {
  font-size: 1.5rem;

}
.feature-box {
  padding: 4.5%;
}
.icon-features:hover {
  color: #27496d;
}
/* facility */


.facility{
  background-color: #6a8caf;
  color: #fff;

}

.table {
  line-height: 3;
  font-size: 1.1rem;
  font-family:"Ubuntu";

}
.image-facility {
  width: 60%;

}
.image-facility2 {
  width: 70%;
}
.facility-section {
  padding-left: 100px;
  padding-right: 100px;
}

#facility {
  padding-left: 100px;
  padding-right: 100px;
}
/* testimonial */
#testimonials {

  background-color: #6a8caf;
  color: white;
}
.testimonial-image {
  width: 10%;

  margin: 20px;
}
.carousel-item {
    padding: 7% 15%;
}

/* Quote */
.alcohol {
  height: 350px;
  padding-top: 50px;

}


.container-fluid{
  padding: 7% 15%;
}

/* pricing */
#pricing {

  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 10% 20%;
}












/* media query */
@media only screen and (max-width: 2000px) {

  h1{
    font-size: 5rem;
  }

  h2 {
    font-size: 5rem;
    line-height: 2;
  }


  .container-first {
    padding-right: 20px;
    padding-left: 10px;
  }
  .container-fluid {
   padding-right: 3%;
   padding-left: 3%;

  }


  .big-heading{
    padding-top: 50px;
    font-size: 60px;
  }
  .btn{
    height: 80px;

  }

  .doctor-image{
    height:120px;
  }
  .navbar-brand{
    font-size: 20px;
  }
  .feature-header {
    font-size: 70px;
    padding-bottom: 50px;
  }
.list{
  margin-left: 0px;
  padding-left: 0px;

}
.image-patient {
  height: 100px;
}
.border {
  border-left: 0px solid white;
  border-bottom: 0px;
}
.alcohol {
  height: 300px;
}
.quote {
  font-size: 30px;
}
.facility-section{
  padding-left: 10px;
  padding-right: 10px;
}
#facility{
  padding-left: 20px;
  padding-right:20px;
}
.pricing-column {
  padding: 0% 0%;
}


}
